/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
  
  
.headernote {
  background: url('../images/apple-pie.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  
}

/* .header h1{
  position: relative;
  background-color: white;
  text-align: center;
  margin-left: 50px;

} */



.paragraph {
  text-align: left;
  color: black;
  top: 80%;
  /* margin-left: 200px; */
  margin: 50px 200px;
}
.imgeren {
  position: relative;
  top: 100%;
  left: 300px;
  right: 100px;
  width: 150px;
  height: 20px;

}
.line {
  width: 70%;
  height: 2px;  
  border: 0 none; 
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  margin-bottom: 90px;
  background-color: black;
}
.imger {
  position: relative;
  top: 100%;
  left: 360px;
  right: 100px;
  width: 100px;
  height: 20px;

}
.ingredients {
  margin-top: 2px;
  margin-left: 200px;
}

li{
  list-style-type: none;
  margin-top: 10px;
  

}

li:before{
  content: "\002D";
}
.Directions {
  margin: 200px;
  margin-bottom: 30px;
  margin-top: 2px;
  width: 70%;
  line-height: 2em;
 
}
